<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>
 <!-- ログイン中のユーザのメールアドレスを表示-->
<p><span>email: </span><%= @user.email %></p>
<p><span>ツイート内容: </span><%= @tweet.body %></p>
<!-- コメントの表示（コメントが１件でもあるか？で分岐） -->
<!-- コメントフォーム表示 -->
<%= form_for([@tweet, @comment]) do |f| %>
  <p>
    <%= f.label :body,"コメント" %>
    <%= f.text_area :body %>
  </p>
  <%= f.submit %>
<% end %>

<% @comments.each do |comment| %>
  <hr>
  <p><span>email: </span><%=link_to comment.user.email, user_path(comment.user.id) %></p>
  <p><span>コメント内容: </span><%= comment.body %></p>
<% end %>
